@test-border: 1px solid black;
@content-width: 920px;
@header-height: 90px;
@footer-height: 360px;
@text-regular-color: #2C3148;
@text-description-color: #7C7F8D;
@divider-color: #D5E2F7;
@background-dark: #005D9F;
@background-light: #F9F9FE;
@background-medium: #EBF3FF;
@active-link: #F08400;

//mixins
.text-props (@weight, @size, @height, @color) {
  font-weight: @weight !important;
  font-size: @size;
  line-height: @height;
  color: @color;
}

.flex-column(@align, @justify) {
  display: flex;
  flex-direction: column;
  align-items: @align;
  justify-content: @justify;
}

.flex-default(@align, @justify) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.divider-right(@top, @right) {
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    top: @top;
    right: @right;
    background: #D5E2F7;
  }
}

.divider-bottom(@bottom, @left) {
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: @left;
    bottom: @bottom;
    background: @divider-color;
  }
}

.divider-top(@top, @left) {
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: @left;
    top: @top;
    background: @divider-color;
  }
}

.icon(@width, @height) {
  width: @width;
  height: @height;
}

.hovered-button-with-icon(@imagePath, @hoveredImagePath, @width, @height, @top, @right) {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    right: @right;
    top: @top;
    width: @width;
    height: @height;
    background-image: url(@imagePath);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:hover {
    color: @active-link;

    &:after {
      background-image: url(@hoveredImagePath);
    }
  }
}

