@import "_variables";

.main {
  &-start {

    button {
      display: inline;
      background-color: transparent;
    }

    &-picture {
      margin: 65px auto 95px auto;
      width: 975px;
      height: 360px;
      overflow: visible;

      img {
        height: 100%;
        width: auto;
      }
    }

    &.background-section {
      width: 100%;
      height: 400px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 70.02%, rgba(0, 0, 0, 0.72) 100%), url('../images/content/main/main-background.png');
      background-size: cover;
      margin-bottom: 65px;
      margin-top: 0;
      position: relative;
      .flex-default(flex-end, center);

      &-title-container {
        .flex-column(flex-start, flex-end);
        width: 80%;

        h2 {
          .text-props(700, 18px, 24px, white);
        }

        h1 {
          font-family: 'Avenir Next Cyr Medium', sans-serif;
          .text-props(750, 64px, 110%, white);
          margin-top: 15px;
        }
      }

    }

    &.title-container {

      h2 {
        .text-props(700, 18px, 24px, white);
        margin-bottom: 15px;
      }

      h1 {
        font-family: 'Avenir Next Cyr Medium', sans-serif;
        .text-props(750, 64px, 110%, white);
      }
    }
  }

  &-choose-site {
    &-links {
      margin-bottom: 50px;
      .flex-default(center, center);
      flex-wrap: wrap;

      li {
        padding-right: 80px;
        margin-bottom: 20px;
        flex: 1 1 50%;
      }
    }

    &.title-container {
      margin-bottom: 80px;
    }
  }

  &-slider {

    button {
      background-color: transparent;

      &:disabled {
        opacity: 0.5;
      }
    }

    &-container {
      .flex-column(center, center);
      height: 750px;
      width: 100%;
      background: @background-light;
      margin-bottom: 95px;
    }


    &.title-container {
      margin-top: 80px;
      margin-bottom: 55px;
    }

    &.picture-container {
      height: 80%;
      margin-bottom: 30px;

      img {
        display: none;
        width: auto;
        height: 100%;

        &.current {
          display: block;
        }
      }

    }

    &.action {

      .flex-default(center, space-between);

      &.counter {
        font-weight: 400;
        font-size: 14px;
        line-height: 115%;
        text-align: center;
        color: #2C3148;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

}

.procurements {
  &-planned {
    p {
      .text-props(400, 20px, 130%, @text-regular-color)
    }

    &.title-container {
      h1 {
        margin-bottom: 25px;
      }
    }

    &.pagination-container {
      margin-top: 30px;
    }

    &-subpage {
      tbody tr:nth-child(2n) > td {

        table {
          thead {
            background: @divider-color;
          }
          tbody {
            background: #FFFFFF;
          }
        }

      }

      &.title-container {
        margin-bottom: 70px;

        .text-title {
          margin-bottom: 25px;

          &.divider {
            position: relative;
            .divider-bottom(-125px, 0);
          }
        }
      }

      &.content-container {
        h3 {
          .text-props(750, 24px, 135 pxm, @text-regular-color);
        }
      }
    }
  }

  &-about {
    p {
      .text-props(400, 20px, 130%, @text-regular-color)
    }

    &.title-container {
      margin-bottom: 55px;

      h1 {
        margin-bottom: 25px;
      }
    }

    th:first-child {
      width: 135px;
    }

    td:nth-child(6) {
      min-width: 125px;
    }

  }

}

.agreements {
  &-main {
    &.title-container {
      margin-bottom: 55px;
    }

    .pagination-container {
      margin-top: 30px;
    }

    td:nth-child(2) {
      min-width: 125px;
    }

    td:nth-child(1) {
      //min-width: 200px;
    }

    td:nth-child(6) {
      min-width: 125px;
    }

    td:last-child {
      font-family: "Avenir Next Cyr Medium", sans-serif;
      .text-props(450, 14px, 115%, @background-dark);
    }

  }

  &-linked-docs {
    &.content-container {
      margin-bottom: 120px;
    }

    &.title-container {
      margin: 70px auto;
    }
  }

}

.stats {
  &-default {
    &.title-container {
      margin-bottom: 65px;
    }

    &.link-list {
      li {
        margin-bottom: 15px;
        &:first-child {
          margin-top: 50px;
        }
      }
    }
  }

  &-archive {
    &.title-container {
      margin-bottom: 70px;
    }
  }
}

.mtr {
  &-lot {
    &.title-container {
      margin: 70px auto;
    }

    &.info-block {
      margin-top: 30px;
      margin-bottom: 95px;
    }
  }

  &-main {
    &.table-container {
      th:nth-child(2) {
        min-width: 130px;
      }
    }

    &.pagination-container {
      margin-top: 30px;
    }
  }
}

.archive {
  &.title-container {
    margin-bottom: 25px;
    margin-top: 80px;

    p {
      margin-top: 25px;
      .text-props(400, 20px, 130%, @text-regular-color);
    }
  }

  &.link-list {
    margin-top: 40px;
    margin-bottom: 95px;

    li {
      margin-bottom: 10px;
    }
  }

  &.pagination-container {
    margin-bottom: 20px;
  }
}

.tt-projects {
  p {
    .text-props(400, 20px, 130%, @text-regular-color);
  }

  &.content-container {
    margin-bottom: 130px;
  }

  &.title-container {
    margin-bottom: 70px;
    margin-top: 75px;
  }
}

.results {

  &.title-container {
    margin-bottom: 70px;

    p {
      .text-props(400, 20px, 130%, @text-regular-color);
    }
  }

  &.text-title {
    margin-bottom: 25px;

    &.divider {
      position: relative;
      .divider-bottom(-105px, 0);
    }
  }

  &.table-container {
    th:nth-child(6) {
      min-width: 130px;
    }
  }

  &.pagination-container {
    margin-top: 30px;
  }

}

.results-procurements {
  &.table-container {
    tr {
      vertical-align: top;

      &:nth-child(n) {
        background-color: unset;
      }
    }

    td:last-child {
      padding: 20px;
    }
  }
}

.contacts {
  &.title-container {
    margin-bottom: 65px;
  }

  &.picture-container {
    width: 40%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.content-container {
    margin-bottom: 95px;
  }

  .card li:last-child:after {
    display: none;
  }
}

.contact-form {
  &.title-container {
    margin-bottom: 40px;
    min-width: 1069px;

    h1 {
      .text-props(750, 48px, 110%, @background-dark);
      letter-spacing: -0.02em;
    }
  }

  .btn-filter {
    margin-bottom: 20px;
  }

  article {
    margin-left: 20px;

    p {
      .text-props(400, 16px, 130%, @text-regular-color);
    }

    ul {
      li {
        .text-props(400, 16px, 130%, @text-regular-color);
        position: relative;
        margin-bottom: 5px;

        &:before {
          content: '';
          position: absolute;
          width: 16px;
          height: 1px;
          top: 12px;
          left: -20px;
          background-color: @background-dark;
        }
      }
    }
  }
}

