@import '_variables.less';

.header {

  &-container {
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
    }

    a {
      margin-right: 25px;
      cursor: pointer;
    }
  }

  &-nav-left {
    &-container {
      .flex-default(center, center);
      position: relative;

      #nav-more {
        margin: 0;
        width: 24px;
        height: 24px;
        background-image: url("../images/header/dots.png");
        background-size: contain;
        background-repeat: no-repeat;
        &.active {
          background-image: url("../images/header/dots-clicked.png");
        }
      }
    }
  }

  &-nav-right {
    &-container {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }

    &-item {
      .flex-default(center, center);

      &.divider {
        position: relative;
        .divider-right(0, -25px)
      }

    }
  }

  &.icon {
    margin-right: 50px;
    width: 150px;
    height: 45px;
    position: relative;

    &.divider {
      .divider-right(0, -25px)
    }
  }

}





