@import '_variables.less';

.header {

  &-container {
    display: flex;
    justify-content: space-between;
    button {
      padding: 0;
      margin-right: 24px;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
    }
    .text-link {
      margin-right: 25px;
    }
  }

  &-nav-left {
    &-container {
      .flex-default(center, center);
    }
  }

  &-nav-right {
    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      .flex-default(center, center);

      &.divider {
        position: relative;
        .divider-right(0, 0)
      }

    }
  }

  &.icon
 {
    margin-right: 50px;
    width: 150px;
    height: 45px;
    position: relative;

    &.divider {
      .divider-right(0, -25px)
    }
  }

}





