@import '_variables.less';
@import 'header.less';
@import 'footer.less';
@import 'content.less';
@import 'components.less';

.start-links {
  font-size: 20px;
  width: 900px;
  margin: 100px auto 0 auto;
}

body {
  max-width: 1920px;
  font-family: 'Avenir Next Cyr', sans-serif;
}

header {
  height: @header-height;
  padding: 24px 55px 28px 24px;
  position: relative;
  .divider-bottom(0, 0)
}

footer {
  width: 100%;
  height: @footer-height;
  background-color: @background-medium;
}

main {
  height: 100%;

  section {
    margin-top: 80px;
    margin-bottom: 95px;
  }
}


.btn {
  background-color: transparent;

  &.flex {
    .flex-default(center, center);
  }

  &-filter {
    .flex-default(center, center)
  }

  &-list {
    .icon(112px, 16px);

    img {
      height: 100%;
      width: auto;
    }
  }

  &-download {
    .icon(112px, 21px);

    img {
      height: 100%;
      width: auto;
    }
  }

  &-o-zakupke {
    .icon(112px, 16px);
    margin-top: 15px;

    img {
      height: 100%;
      width: auto;
    }
  }

  &-back {
    background-color: transparent;
    .flex-default(center, center);
  }

  &.wrap {
    word-wrap: break-word;
    max-width: 100px;
  }

}

.content {
  &-container {
    width: @content-width;
    margin: 0 auto;
  }

  &-wrapper {
    width: 100%;
  }
}

.icon-container {
  .flex-default(center, center);

  img {
    height: 100%;
    width: auto;
  }

  &.expand {
    margin-left: 10px;
    width: 12px;
    height: 6px;
  }

  &.icon24 {
    .icon(24px, 24px);
    margin-right: 10px;
  }

  &.icon16 {
    .icon(16px, 16px);
  }

  &.icon36 {
    .icon(36px, 36px);
  }

  &.icon20 {
    .icon(20px, 20px);
  }
}

.text {

  &-title {
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    .text-props(750, 64px, 110%, @background-dark);
    margin: 0;

    &.divider {
      position: relative;
      .divider-bottom(-55px, 0)
    }

    &.main {
      margin-bottom: 65px;
    }

    &-card {
      .text-props(450, 24px, 135%, @text-regular-color);
      &-bold {
        .text-props(750, 24px, 135%, @text-regular-color);
      }
    }
  }

  &-subtitle {
    .text-props(700, 18px, 24px, @background-dark);
    letter-spacing: 0.02em;

    &-card {
      .text-props(450, 20px, 130%, @text-regular-color);
      margin-bottom: 25px;
    }
  }

  &-description {
    .text-props(400, 16px, 130%, @text-description-color);

    &-card {
      .text-props(400, 20px, 130%, @text-description-color);
    }
  }

  &-link {
    .text-props(450, 20px, 130%, @background-dark);

    &.nav {
      .text-props(700, 14px, 17px, @background-dark);
      text-transform: uppercase;
    }

    &.active {
      color: @active-link;
    }
  }
}

.table-container {

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  th, td {
    padding: 10px;
  }

  tr {
    vertical-align: top;

    &:nth-child(2n) {
      background-color: @background-medium;
    }
  }

  button {
    background-color: transparent;
  }

  .cell-flex-col {
    .flex-column(start, center);

    :nth-child(n) {
      margin-bottom: 5px;
    }
  }

  .cell-flex {
    .flex-default(start, center);

    :nth-child(n) {
      margin-right: 5px;
    }

    button {
      text-align: left;
      color: @background-dark;
    }

    span {
      text-align: left;
    }
  }

  &-header {
    background-color: @divider-color;
  }

  &.procurements-planned {
    margin: 55px 80px 0 80px;
    position: relative;
    .divider-bottom(-30px, 0);

    tr {
      height: 70px;
    }

    th {
      .text-props(450, 14px, 115%, @text-regular-color);
    }

    td {
      .text-props(450, 16px, 130%, @text-regular-color);
    }
  }

  &.procurements-about {
    margin: 55px 80px 0 80px;

    td:nth-child(6) {
      min-width: 125px;
    }
  }

  &.agreements-main {
    margin: 55px 80px 0 80px;

    td:nth-child(2) {
      min-width: 125px;
    }

    td:nth-child(1) {
      max-width: 145px;
    }
  }

  &.choose-client-modal {
    tr {

      th {
        .text-props(_, 12px, 115%, @text-regular-color);

        &:nth-child(1) {
          width: 215px;
        }
      }

      td {
        .text-props(400, 14px, 115%, @text-regular-color);
        height: 60px;

        &:nth-child(1) {
          .text-props(450, 14px, 115%, @text-regular-color)
        }
      }

    }
  }


}

.pagination-container {
  .flex-default(center, start);
  margin: 35px 80px 0 80px;
  padding-left: 10px;

  span {
    font-weight: 450;
    font-size: 16px;
    line-height: 115%;
    color: @text-regular-color;
  }

  button {
    background-color: transparent;
    margin-right: 20px;
  }

  .current-page {
    width: 40px;
    height: 40px;
    background: #EEEFF4;
    border-radius: 100px;
  }
}

.input-with-btn {
  .flex-default(center, end);
  height: 100%;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
  background-color: white;

  #from-date-about, #from-date-planned, #from-price-about,
  #to-date-about, #to-date-planned, #to-price-about,
  #client-about, #client-planned {
    border: none;
    width: 100%;
    padding: 5px;
  }

  button {
    background-color: transparent;
    margin-right: 10px;
  }

  &.calendar {
    margin-right: 10px;
  }

  &.client {
    width: 60%;
  }

  &.search {
    padding: 10px;
    .flex-default(center, start);

    img {
      margin-right: 10px;
    }
  }
}

.form-container {
  margin-top: 55px;
  padding: 25px;
  width: 690px;
  height: 100%;
  background: @background-light;

  span {
    .text-props(700, 14px, 17px, @background-dark);
    text-transform: uppercase;
    color: @background-dark;

    &.clear {
      color: grey;
    }
  }

  &-header {
    .flex-default(center, space-between);

    &.divider {
      .divider-bottom(-20px, 0);
      position: relative;
      margin-bottom: 35px;
    }

    button {
      background-color: transparent;
    }
  }

  &-body {
    .item {
      .flex-default(center, space-between);
      height: 50px;
      font-weight: 450;
      font-size: 16px;
      line-height: 130%;
      color: @text-regular-color;
      margin-bottom: 10px;
      position: relative;

      input, select {
        height: 100%;
        width: 60%;
        padding: 5px;
        border: 1px solid #D6D8E0;
        border-radius: 2px;
      }

      a {
        text-decoration: underline;
        text-align: left;
      }

      #changes-period {
        max-width: 80px;
        margin-right: 20px;
      }

      #plan-period, #public-period, #price-range {
        .flex-default(center, center);
        height: 100%;
        width: 50%;
        margin-right: 81px;

        label {
          margin-right: 10px;
        }
      }

      #from-price-about, #from-date-planned, #from-date-about {
        margin-right: 5px;
        background-size: 18px;
      }

      #to-price-about, #to-date-planned, #to-date-about {
        background-size: 18px;
      }

      &.flex {
        .flex-default(center, center);
        margin: 0;
        width: 60%;

        &:nth-child(2) {
          text-align: left;
        }
      }

      &.checkbox {
        .flex-default(center, start);

        input {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
      }

      &.divider {
        .divider-bottom(-30px, 0);
      }

    }
  }

  &.submit-btn {
    .flex-default(center, center);
    margin-top: 45px;
    width: 150px;
    height: 50px;
    background: @background-dark;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
  }


}

.accordion {

  &-container {
    position: relative;

    ul {
      position: relative;

      &:last-child {
        .divider-bottom(0, 0)
      }
    }

    li {
      .flex-column(start, center);
      position: relative;
    }

    button {
      background-color: transparent;
    }


  }

  &-item {
    a {
      color: @background-dark;
    }

    p {
      font-weight: 400;
    }

    &.header {
      .text-props(450, 20px, 130%, @text-regular-color);
      .flex-default(center, start);
      position: relative;
      //.divider-bottom(0, 0);
      .divider-top(0, 0);
      width: 100%;
      padding: 15px 0;

      &.expanded {
        background-color: @background-light;
        .divider-bottom(0, 0);
      }
    }

    &.content {
      .text-props(400, 20px, 130%, @text-regular-color);
      .flex-default(center, start);
      margin-left: 34px;
      margin-top: 30px;
      padding-bottom: 35px;
    }

  }
}

.card {
  &-header button {
    margin-bottom: 55px;
  }

  li {
    .flex-column(start, start);
    margin-bottom: 40px;
    position: relative;
    .divider-bottom(-20px, 0);

    table {
      width: 530px;
    }
  }

  &-item {
  }

}
