.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container button {
  background-color: transparent;
}
.header-container a {
  margin-right: 25px;
  cursor: pointer;
}
.header-nav-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-nav-left-container #nav-more {
  margin: 0;
}
.header-nav-right-container {
  display: flex;
  justify-content: space-between;
}
.header-nav-right-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-right-item.divider {
  position: relative;
}
.header-nav-right-item.divider:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  right: -15px;
  background: #D5E2F7;
}
.header.icon {
  margin-right: 50px;
  width: 150px;
  height: 45px;
  position: relative;
}
.header.icon.divider:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  right: -25px;
  background: #D5E2F7;
}
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-container.with-background {
  padding: 33px 80px 18px 80px;
}
.footer-icon {
  height: auto;
}
.footer-icon:nth-child(1) {
  width: 205px;
}
.footer-icon:nth-child(2) {
  width: 155px;
}
.footer-icon:nth-child(3) {
  width: 285px;
}
.footer-icon.main {
  max-width: 195px;
}
.footer-row {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-row.divider {
  position: relative;
}
.footer-row.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.footer-row.no-background {
  background-color: #FFFFFF;
  padding: 16px 80px;
  justify-content: flex-start;
}
.footer-row:nth-child(3) {
  margin-top: 10px;
  padding: 0;
}
.phone-block-number {
  font-weight: 750;
  font-size: 24px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2C3148;
}
.phone-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copyright {
  margin-right: 32px;
  font-family: 'avantgardectt-bold', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #7C7F8D;
}
.disclaimer {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #005D9F;
  text-decoration-line: underline;
}
.main-start button {
  display: inline;
  background-color: transparent;
}
.main-start-picture {
  margin: 65px auto 95px auto;
  width: 990px;
  height: 360px;
  overflow: visible;
}
.main-start-picture img {
  height: 100%;
  width: auto;
}
.main-start.background-section {
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 70.02%, rgba(0, 0, 0, 0.72) 100%), url('../images/content/main/main-background.png');
  background-size: cover;
  margin-bottom: 65px;
  margin-top: 0;
  position: relative;
}
.main-start.background-section-title-container {
  position: absolute;
  left: auto;
  bottom: 0;
}
.main-start.background-section-title-container h2 {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.main-start.background-section-title-container h1 {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 750 !important;
  font-size: 64px;
  line-height: 110%;
  color: white;
  margin-top: 15px;
}
.main-start.title-container h2 {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-bottom: 15px;
}
.main-start.title-container h1 {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 750 !important;
  font-size: 64px;
  line-height: 110%;
  color: white;
}
.main-choose-site-links {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-choose-site-links li {
  padding-right: 80px;
  margin-bottom: 20px;
  flex: 1 1 50%;
}
.main-choose-site.title-container {
  margin-bottom: 80px;
}
.main-slider button {
  background-color: transparent;
}
.main-slider button:disabled {
  opacity: 0.5;
}
.main-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
  width: 100%;
  background: #F9F9FE;
  margin-bottom: 95px;
}
.main-slider.title-container {
  margin-top: 80px;
  margin-bottom: 55px;
}
.main-slider.picture-container {
  height: 80%;
  margin-bottom: 30px;
}
.main-slider.picture-container img {
  display: none;
  width: auto;
  height: 100%;
}
.main-slider.picture-container img.current {
  display: block;
}
.main-slider.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider.action.counter {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  text-align: center;
  color: #2C3148;
  margin-left: 10px;
  margin-right: 10px;
}
.procurements-planned p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.procurements-planned.title-container h1 {
  margin-bottom: 25px;
}
.procurements-planned.pagination-container {
  margin-top: 30px;
}
.procurements-about p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.procurements-about.title-container {
  margin-bottom: 55px;
}
.procurements-about.title-container h1 {
  margin-bottom: 25px;
}
.procurements-about th:first-child {
  width: 135px;
}
.procurements-about td:nth-child(6) {
  min-width: 125px;
}
.agreements-main.title-container {
  margin-bottom: 55px;
}
.agreements-main .pagination-container {
  margin-top: 30px;
}
.agreements-main td:nth-child(2) {
  min-width: 125px;
}
.agreements-main td:nth-child(6) {
  min-width: 125px;
}
.agreements-main td:last-child {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #005D9F;
}
.agreements-linked-docs.title-container {
  margin: 70px auto;
}
.stats-default.title-container {
  margin-bottom: 65px;
}
.stats-default.link-list li {
  margin-bottom: 15px;
}
.stats-archive.title-container {
  margin-bottom: 70px;
}
.mtr-lot.title-container {
  margin: 70px auto;
}
.mtr-lot.info-block {
  margin-top: 30px;
  margin-bottom: 95px;
}
.mtr-main.table-container th:nth-child(2) {
  min-width: 130px;
}
.mtr-main.pagination-container {
  margin-top: 30px;
}
.archive.title-container {
  margin-bottom: 25px;
  margin-top: 80px;
}
.archive.title-container p {
  margin-top: 25px;
}
.archive.link-list {
  margin-top: 40px;
  margin-bottom: 95px;
}
.archive.link-list li {
  margin-left: 30px;
  margin-bottom: 10px;
}
.archive.pagination-container {
  margin-bottom: 20px;
}
.tt-projects p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.tt-projects.content-container {
  margin-bottom: 130px;
}
.tt-projects.title-container {
  margin-bottom: 70px;
  margin-top: 75px;
}
.results.title-container {
  margin-bottom: 70px;
}
.results.title-container p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.results.text-title {
  margin-bottom: 25px;
}
.results.text-title.divider {
  position: relative;
}
.results.text-title.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -105px;
  background: #D5E2F7;
}
.results.table-container th:nth-child(6) {
  min-width: 130px;
}
.results.pagination-container {
  margin-top: 30px;
}
.results-procurements.table-container td:last-child {
  padding: 20px;
}
.contacts.title-container {
  margin-bottom: 65px;
}
.contacts.picture-container {
  width: 40%;
}
.contacts.picture-container img {
  width: 100%;
  height: auto;
}
.contacts.content-container {
  margin-bottom: 95px;
}
.contact-form.title-container {
  margin-bottom: 40px;
  min-width: 1069px;
}
.contact-form.title-container h1 {
  font-weight: 750 !important;
  font-size: 48px;
  line-height: 110%;
  color: #005D9F;
  letter-spacing: -0.02em;
}
.contact-form .btn-filter {
  margin-bottom: 20px;
}
.contact-form article p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.contact-form article ul li {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  position: relative;
  margin-bottom: 5px;
}
.contact-form article ul li:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 1px;
  top: 12px;
  left: -20px;
  background-color: #005D9F;
}
.overlay-menu {
  position: absolute;
  top: 100%;
  left: calc(100% - 34px);
  box-sizing: border-box;
  padding: 25px;
  width: 390px;
  background: #FFFFFF;
  border: 1px solid #EEEFF4;
  box-shadow: 0 8px 16px rgba(28, 72, 120, 0.12);
  z-index: 2;
}
.overlay-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.overlay-menu a {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #005D9F;
  text-transform: uppercase;
  margin-right: 0;
}
.overlay-menu li {
  margin-bottom: 20px;
}
.overlay-menu li:last-child {
  margin-bottom: 0;
}
.choose-client-modal-container {
  width: 835px;
  max-height: 550px;
  box-shadow: 0 8px 16px rgba(28, 72, 120, 0.12);
  border-radius: 4px;
  overflow-y: scroll;
  position: fixed;
  left: calc(50% - 415px);
  bottom: calc(50% - 225px);
  z-index: 2;
  background-color: white;
}
.choose-client-modal.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 750;
  font-size: 14px;
  line-height: 115%;
  color: #FFFFFF;
  background-color: #005D9F;
}
.choose-client-modal.search {
  padding: 10px;
  width: 50%;
}
.choose-client-modal #search {
  width: 100%;
}
.choose-client-modal button {
  background-color: transparent;
}
.dropdown-options {
  width: 100%;
  height: 275px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 0 8px 16px rgba(28, 72, 120, 0.12);
  border-radius: 4px;
}
.dropdown-options li {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  padding: 15px 0 15px 40px;
  position: relative;
  cursor: pointer;
}
.dropdown-options li:hover:before {
  content: '';
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/components/done.png");
  background-size: 20px 20px;
  opacity: 0.5;
  z-index: 2;
}
.dropdown-options li.chosen:before {
  content: '';
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/components/done.png");
  background-size: 20px 20px;
  z-index: 2;
}
.ui-datepicker {
  width: 276px;
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(28, 72, 120, 0.12);
  border-radius: 4px;
}
.ui-datepicker a {
  text-decoration: none;
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 18px;
  color: #2C3148;
  text-align: center;
}
.ui-datepicker table {
  width: 100%;
}
.ui-datepicker thead {
  font-weight: 700 !important;
  font-size: 11px;
  line-height: 13px;
  color: #7C7F8D;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  width: 16px;
  height: 16px;
  background-size: contain;
}
.ui-datepicker .ui-datepicker-prev {
  background-image: url("../images/components/calendar-prev-month.png");
}
.ui-datepicker .ui-datepicker-next {
  background-image: url("../images/components/calendar-next-month.png");
}
.ui-datepicker .ui-state-default {
  text-align: center;
}
.ui-datepicker .ui-state-hover {
  background: #EEEFF4;
  border-radius: 100px;
}
.ui-datepicker-trigger {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
#choose-site-modal {
  display: none;
  margin-top: 70px;
}
#close-choose-site-modal-btn,
#collapse-arrow {
  display: none;
}
.accordion-collapse-arrow {
  display: none;
}
.accordion-expand-arrow.hovered {
  display: none;
}
#choose-client-modal {
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  overflow: visible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
}
.hidden,
.hidden-form-status {
  display: none;
}
.accordion-hidden {
  display: none;
}
body {
  font-family: 'Avenir Next Cyr', sans-serif;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
body.fixed-scroll {
  height: 100%;
  overflow-y: hidden;
}
body a:hover {
  color: #F08400;
}
header {
  height: 90px;
  padding: 24px 55px 28px 24px;
  position: relative;
}
header:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
header a:hover {
  color: #F08400;
}
footer {
  height: 360px;
  background-color: #EBF3FF;
}
main {
  height: 100%;
}
main section {
  margin-top: 80px;
  margin-bottom: 95px;
}
.btn {
  background-color: transparent;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #005D9F;
  text-align: left;
}
.btn.small {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.btn.has-after-element-new-tab.single-string {
  position: relative;
}
.btn.has-after-element-new-tab.single-string:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/content/icons/new-tab.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.btn.has-after-element-new-tab.single-string:hover {
  color: #F08400;
}
.btn.has-after-element-new-tab.single-string:hover:after {
  background-image: url('../images/content/icons/new-tab-hovered.png');
}
.btn.has-after-element-new-tab.multiple-string {
  position: relative;
  width: 50%;
  word-wrap: break-word;
}
.btn.has-after-element-new-tab.multiple-string:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/content/icons/new-tab.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.btn.has-after-element-new-tab.multiple-string:hover {
  color: #F08400;
}
.btn.has-after-element-new-tab.multiple-string:hover:after {
  background-image: url('../images/content/icons/new-tab-hovered.png');
}
.btn.has-before-element-watch {
  display: block;
  margin-left: 25px;
  position: relative;
}
.btn.has-before-element-watch:after {
  content: "";
  position: absolute;
  right: 110%;
  top: 0;
  width: 20px;
  height: 100%;
  background-image: url('../images/content/icons/watch.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.btn.has-before-element-watch:hover {
  color: #F08400;
}
.btn.has-before-element-watch:hover:after {
  background-image: url('../images/content/icons/watch-hovered.png');
}
.btn.has-before-element-watch.is-small {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #005D9F;
  position: relative;
}
.btn.has-before-element-watch.is-small:after {
  content: "";
  position: absolute;
  right: 110%;
  top: 0;
  width: 16px;
  height: 100%;
  background-image: url('../images/content/icons/watch.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.btn.has-before-element-watch.is-small:hover {
  color: #F08400;
}
.btn.has-before-element-watch.is-small:hover:after {
  background-image: url('../images/content/icons/watch-hovered.png');
}
.btn.has-before-element-watch.is-large {
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #005D9F;
  position: relative;
}
.btn.has-before-element-watch.is-large:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 22px;
  height: 100%;
  background-image: url('../images/content/icons/watch.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.btn.has-before-element-watch.is-large:hover {
  color: #F08400;
}
.btn.has-before-element-watch.is-large:hover:after {
  background-image: url('../images/content/icons/watch-hovered.png');
}
.btn.has-before-element-download {
  position: relative;
}
.btn.has-before-element-download:after {
  content: "";
  position: absolute;
  right: 105%;
  top: 0;
  width: 20px;
  height: 100%;
  background-image: url('../images/content/icons/download.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.btn.has-before-element-download:hover {
  color: #F08400;
}
.btn.has-before-element-download:hover:after {
  background-image: url('../images/content/icons/download-hovered.png');
}
.btn.flex {
  display: flex;
  justify-content: start;
  align-items: center;
}
.btn-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-back {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 55px;
  width: fit-content;
}
.btn-back:before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/content/icons/back.png");
  background-size: contain;
}
.btn-back:hover span {
  color: #F08400;
}
.btn-back:hover:before {
  background-image: url("../images/content/icons/back-hovered.png");
}
.btn.wrap {
  word-wrap: break-word;
  max-width: 100px;
}
.content-container {
  width: 990px;
  margin: 0 auto;
}
.content-container p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.icon img {
  height: 100%;
  width: auto;
}
.icon.size-16 {
  width: 16px;
  height: 16px;
}
.icon.size-20 {
  width: 20px;
  height: 20px;
}
.icon.size-24 {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.icon.size-36 {
  width: 36px;
  height: 36px;
}
.icon.size-72 {
  width: 72px;
  height: 72px;
}
.icon.captcha {
  width: 228px;
  height: 57px;
}
.icon.footer-logo {
  width: 195px;
  height: auto;
}
.text-title {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 750 !important;
  font-size: 64px;
  line-height: 110%;
  color: #005D9F;
  margin: 0;
}
.text-title.divider {
  position: relative;
}
.text-title.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -55px;
  background: #D5E2F7;
}
.text-subtitle {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  color: #005D9F;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.text-description {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #7C7F8D;
}
.text-link {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #005D9F;
}
.text-link:hover {
  color: #F08400;
}
.text-link.nav {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #005D9F;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.text-link.nav:hover {
  color: #F08400;
}
.text-link.active {
  color: #F08400;
}
.text-link.underline {
  text-decoration: underline;
}
.table-container {
  max-width: 1280px;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.table-container th {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.table-container th:nth-child(n) {
  padding: 10px;
}
.table-container td {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.table-container td:nth-child(n) {
  padding: 10px;
}
.table-container tr {
  vertical-align: top;
}
.table-container tr:nth-child(2n) {
  background-color: #EBF3FF;
}
.table-container.with-margin {
  margin: 55px auto 0 auto;
}
.table-container.is-card-item {
  width: 530px;
}
.table-container.is-card-item td {
  padding: 10px;
}
.table-container.first-column-bold td:first-child {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.table-container .cell-flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.table-container .cell-flex-col span {
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.table-container .cell-flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.table-container .cell-flex span {
  text-align: left;
}
.table-container.divider-bottom {
  position: relative;
}
.table-container.divider-bottom:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background: #D5E2F7;
}
.table-container-header {
  background-color: #D5E2F7;
}
.table-container-header-child {
  background-color: #EBF3FF;
}
.table-container-child table,
.table-container-child th,
.table-container-child td {
  width: 100%;
  text-align: left;
  border: 1px solid #D5E2F7;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 115%;
  color: #2C3148;
}
.table-container-child th:nth-child(3) {
  min-width: 100px;
}
.choose-client-modal tr th {
  font-weight: _ !important;
  font-size: 12px;
  line-height: 115%;
  color: #2C3148;
}
.choose-client-modal tr th:nth-child(1) {
  width: 215px;
}
.choose-client-modal tr td {
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
  height: 60px;
}
.choose-client-modal tr td:nth-child(1) {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 1280px;
  padding-left: 10px;
  position: relative;
}
.pagination-container:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 130%;
  background: #D5E2F7;
}
.pagination-container-items-per-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-container-items-per-page .total {
  padding: 3px;
  background-color: transparent;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 115%;
  color: #2C3148;
}
.pagination-container-items-per-page .items {
  margin: 0 10px;
}
.pagination-container-items-per-page .items button {
  padding: 3px;
  background-color: transparent;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 115%;
  color: #2C3148;
}
.pagination-container-items-per-page .items .active {
  background-color: #D5E2F7;
}
.pagination-container-pages {
  display: flex;
  justify-content: start;
  align-items: center;
}
.pagination-container-pages ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
.pagination-container-pages a {
  font-weight: 450;
  font-size: 16px;
  line-height: 115%;
  color: #2C3148;
}
.pagination-container-pages li,
.pagination-container-pages button {
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
}
.pagination-container-pages .current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #EEEFF4;
  border-radius: 100px;
}
.input-with-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
  background-color: white;
  position: relative;
}
.input-with-btn input {
  width: 100%;
}
.input-with-btn img {
  margin-right: 10px;
}
.input-with-btn #from-date-about,
.input-with-btn #from-date-planned,
.input-with-btn #from-price-about,
.input-with-btn #to-date-about,
.input-with-btn #to-date-planned,
.input-with-btn #to-price-about,
.input-with-btn #client-about,
.input-with-btn #client-planned,
.input-with-btn #form-input-procurement-type,
.input-with-btn #changes-period {
  border: none;
  padding: 5px;
}
.input-with-btn.is-select input {
  cursor: pointer;
}
.input-with-btn.main-search {
  border: none;
  border-bottom: 1px solid #7C7F8D;
  width: 405px;
  height: 35px;
  justify-items: stretch;
}
.input-with-btn.main-search input {
  width: 100%;
}
.input-with-btn.main-search input::placeholder {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.input-with-btn button {
  background-color: transparent;
  margin-right: 10px;
}
.input-with-btn.client {
  width: 60%;
}
.input-with-btn.search {
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.form-container {
  margin-top: 55px;
  padding: 25px;
  width: 690px;
  height: 100%;
  background: #F9F9FE;
  position: relative;
}
.form-container.contact {
  width: 820px;
}
.form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #7C7F8D;
  text-transform: uppercase;
}
.form-container button.clear {
  color: grey;
}
.form-container-disclaimer p {
  margin-top: 8px;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 115%;
  color: #4E536B;
}
.form-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container-header.divider {
  position: relative;
  margin-bottom: 35px;
}
.form-container-header.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #D5E2F7;
}
.form-container-header button {
  background-color: transparent;
}
.form-container-header button.btn-clear {
  display: none;
}
.form-container-body {
  display: none;
  position: relative;
}
.form-container-body textarea {
  resize: none;
}
.form-container-body.show {
  display: block;
}
.form-container-body-message-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 85px 0;
  gap: 15px;
}
.form-container-body-message-sent div {
  font-weight: 450 !important;
  font-size: 24px;
  line-height: 135%;
  color: #7C7F8D;
}
.form-container-body .item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  margin-bottom: 10px;
  position: relative;
}
.form-container-body .item input,
.form-container-body .item select {
  height: 50px;
  width: 60%;
  padding: 5px;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
}
.form-container-body .item textarea {
  height: 160px;
  width: 60%;
  padding: 5px;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
}
.form-container-body .item a {
  margin-left: 10px;
  text-decoration: none;
  text-align: left;
}
.form-container-body .item label {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  max-width: 35%;
  margin-right: 10px;
}
.form-container-body .item label.with-margin {
  margin-left: 5px;
}
.form-container-body .item label.full-width {
  max-width: 100%;
}
.form-container-body .item label.files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.form-container-body .item label.files span:nth-child(2) {
  color: #7C7F8D;
  max-width: 200px;
}
.form-container-body .item.required.validation-error > .helper-text span,
.form-container-body .item.required.validation-error > .helper-text img {
  display: block;
  margin-top: 5px;
}
.form-container-body .item.required > .helper-text > span {
  display: none;
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 115%;
  color: #E33838;
}
.form-container-body .item.required > .helper-text img {
  display: none;
}
.form-container-body .item.required .helper-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.form-container-body .item.required .helper-text.captcha {
  width: auto;
  max-width: 25%;
}
.form-container-body .item.required .input-with-btn {
  width: 100%;
}
.form-container-body .item .input-with-btn {
  width: 60%;
}
.form-container-body .item .input-with-btn input,
.form-container-body .item .input-with-btn textarea {
  width: 100%;
  border: none;
}
.form-container-body .item .input-with-btn.is-flex {
  flex: 1 1 50%;
}
.form-container-body .item.align-top label {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.form-container-body .item.input-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container-body .item #changes-period {
  max-width: 80px;
  margin-right: 20px;
}
.form-container-body .item #plan-period,
.form-container-body .item #public-period,
.form-container-body .item #price-range {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-right: 81px;
}
.form-container-body .item #from-price-about,
.form-container-body .item #from-date-planned,
.form-container-body .item #from-date-about {
  margin-right: 5px;
  background-size: 18px;
}
.form-container-body .item #to-price-about,
.form-container-body .item #to-date-planned,
.form-container-body .item #to-date-about {
  background-size: 18px;
}
.form-container-body .item #files {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.form-container-body .item #files button,
.form-container-body .item #files label {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  border-radius: 100px;
  min-width: 170px;
  padding: 10px 16px;
}
.form-container-body .item #files input[type="file"] {
  display: none;
}
.form-container-body .item #files span {
  width: 100%;
  text-transform: none;
  margin-right: 10px;
}
.form-container-body .item #files .size-error {
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #E33838;
  background: #FCDFDF;
  border-radius: 6px;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 10px 5px;
}
.form-container-body .item #files .size-error span {
  margin: 0;
}
.form-container-body .item #files .chosen-file {
  background-color: rgba(238, 239, 244, 0.5);
}
.form-container-body .item #files .chosen-file:hover {
  transition: all 0.5s;
  background-color: #eeeff4;
}
.form-container-body .item #files .upload-file {
  background-color: rgba(213, 226, 247, 0.5);
  cursor: pointer;
}
.form-container-body .item #files .upload-file:hover {
  transition: all 0.5s;
  background-color: #d5e2f7;
}
.form-container-body .item #files .upload-file span {
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #005D9F;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.form-container-body .item.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 60%;
}
.form-container-body .item.flex:nth-child(2) {
  text-align: left;
}
.form-container-body .item.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.form-container-body .item.checkbox input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.form-container-body .item.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -30px;
  background: #D5E2F7;
}
.form-container-body.divider-bottom:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 100px;
  background: #D5E2F7;
}
.form-container.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 150px;
  height: 50px;
  background: rgba(0, 93, 159, 0.7);
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.form-container.submit-btn:hover {
  transition: all 0.5s;
  background: #005d9f;
}
.accordion-container {
  position: relative;
}
.accordion-container ul {
  position: relative;
}
.accordion-container ul:last-child:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.accordion-container li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.accordion-container button {
  background-color: transparent;
}
.accordion-item a {
  color: #005D9F;
}
.accordion-item p {
  font-weight: 400;
}
.accordion-item .header {
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
}
.accordion-item .header:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
  background: #D5E2F7;
}
.accordion-item .header.expanded {
  background-color: #F9F9FE;
}
.accordion-item .header.expanded:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.accordion-item .content {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 34px;
  margin-top: 30px;
  padding-bottom: 35px;
}
.card.divider-top li:first-child {
  position: relative;
}
.card.divider-top li:first-child:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: -10px;
  background: #D5E2F7;
}
.card.divider-top p {
  position: relative;
}
.card.divider-top p:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -15px;
  background: #D5E2F7;
}
.card li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 40px;
  position: relative;
}
.card li:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #D5E2F7;
}
.card-item.title {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  margin-bottom: 25px;
}
.card-item.title-bold {
  font-weight: 750 !important;
  font-size: 24px;
  line-height: 135%;
  color: #2C3148;
}
.card-item.info {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #7C7F8D;
}
.card-item.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.card-item.info-item {
  margin-bottom: 5px;
}
.card-item.info-item a {
  cursor: pointer;
  text-decoration: underline;
  color: #005D9F;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 600;
}
.card-item.info-item span:nth-child(1) {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #7C7F8D;
}
.card-item.info-item span:nth-child(2) {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.card-item.info-item.single {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.tabs {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
}
.tabs:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  left: 0;
  bottom: -10px;
  background: #D5E2F7;
}
.tabs button {
  background-color: transparent;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #7C7F8D;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.tabs button:hover {
  color: #2C3148;
  opacity: 0.8;
}
.tabs .active button {
  position: relative;
  color: #2C3148;
}
.tabs .active button:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background: #005D9F;
}
.tabs-subtabs {
  margin-top: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.tabs-subtabs li {
  padding: 10px;
}
.tabs-subtabs button {
  background-color: transparent;
  padding: 10px;
  font-weight: 700 !important;
  font-size: 12px;
  line-height: 15px;
  color: #7C7F8D;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 4px;
}
.tabs-subtabs button:hover {
  transition: all 0.5s;
  background-color: #EEEFF4;
  opacity: 0.8;
}
.tabs-subtabs .active button {
  color: #2C3148;
  background-color: #EEEFF4;
}
.info-block .item {
  display: flex;
  justify-content: start;
  align-items: stretch;
  position: relative;
}
.info-block .item:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.info-block .item:nth-child(2) {
  position: relative;
}
.info-block .item:nth-child(2):before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
  background: #D5E2F7;
}
.info-block .item span,
.info-block .item div {
  padding: 13px;
}
.info-block .item span:nth-child(1),
.info-block .item div:nth-child(1) {
  font-weight: 550 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  background-color: #EBF3FF;
  width: 35%;
}
.info-block .item span:nth-child(2),
.info-block .item div:nth-child(2) {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  width: 65%;
}
.info-block .item span img,
.info-block .item div img {
  margin-right: 10px;
}
.info-block .item-title {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  margin-bottom: 25px;
}
.info-block .item-title-bold {
  font-weight: 750 !important;
  font-size: 24px;
  line-height: 135%;
  color: #2C3148;
  margin-bottom: 25px;
}
.info-block.results-procurements {
  margin-top: 35px;
}
.breadcrumbs {
  position: relative;
  margin-top: 65px;
}
.breadcrumbs:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: -10px;
  background: #D5E2F7;
}
.breadcrumbs a {
  background-color: transparent;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #005D9F;
  position: relative;
  margin-right: 25px;
}
.breadcrumbs a:after {
  position: absolute;
  content: "/";
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #C3C4CC;
  right: -20px;
}
.breadcrumbs a:last-child {
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.breadcrumbs a:last-child:after {
  content: '';
}
