@import '_variables.less';
@import 'header.less';
@import 'footer.less';
@import 'content.less';
@import 'components.less';
@import 'actions.less';

//.start-links {
//  font-size: 20px;
//  max-width: 100vw;
//  height: 100vh;
//  margin: 0 auto;
//  padding: 30px;
//  .flex-column(start, center);
//  flex-wrap: wrap;
//  box-sizing: border-box;
//
//  .box {
//    &:first-child {
//      margin-right: 150px;
//    }
//
//    .flex-default(start, center);
//    flex-wrap: wrap;
//
//    ul {
//      .flex-column(start, start);
//      flex-wrap: wrap;
//      column-gap: 100px;
//    }
//
//    li {
//      margin-bottom: 10px;
//    }
//  }
//}

.router {
  margin-top: 75px;
  margin-bottom: 110px;
}

body {
  font-family: 'Avenir Next Cyr', sans-serif;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  height: @header-height;
  padding: 24px 55px 28px 24px;
  position: relative;
  .divider-bottom(0, 0);
}

footer {
  height: @footer-height;
  background-color: @background-medium;
}

main {
  height: 100%;

  section {
    margin-top: 80px;
    margin-bottom: 95px;
  }
}

.btn {
  background-color: transparent;

  &.flex {
    .flex-default(center, center);
  }

  &-filter {
    .flex-default(center, center)
  }

  &-list {
    .icon(112px, 16px);

    img {
      height: 100%;
      width: auto;
    }
  }

  &-download {
    .icon(112px, 21px);

    img {
      height: 100%;
      width: auto;
    }
  }

  &-o-zakupke {
    .icon(112px, 16px);
    margin-top: 15px;

    img {
      height: 100%;
      width: auto;
    }
  }

  &-back {
    background-color: transparent;
    .flex-default(center, center);
    margin-bottom: 55px;
  }

  &.wrap {
    word-wrap: break-word;
    max-width: 100px;
  }

}

.content {

  &-container {
    width: @content-width;
    margin: 0 auto;
    //min-height: calc(100vh - @header-height - @footer-height);
    p {
      .text-props(400, 20px, 130%, @text-regular-color)
    }
  }

}

.icon {

  img {
    height: 100%;
    width: auto;
  }

  &.size-16 {
    .icon(16px, 16px);
  }

  &.size-20 {
    .icon(20px, 20px);
  }

  &.size-24 {
    .icon(24px, 24px);
    margin-right: 10px;
  }

  &.size-36 {
    .icon(36px, 36px);
  }

  &.size-72 {
    .icon(72px, 72px);
  }

  &.captcha {
    .icon(228px, 57px)
  }

  &.footer-logo {
    width: 195px;
    height: auto;
  }
}

.text {

  &-title {
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    .text-props(750, 64px, 110%, @background-dark);
    margin: 0;

    &.divider {
      position: relative;
      .divider-bottom(-55px, 0)
    }
  }

  &-subtitle {
    .text-props(700, 18px, 24px, @background-dark);
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }

  &-description {
    .text-props(400, 16px, 130%, @text-description-color);
  }

  &-link {
    font-family: "Avenir Next Cyr Medium", sans-serif;
    .text-props(450, 20px, 130%, @background-dark);

    &.nav {
      font-family: "Avenir Next Cyr", sans-serif;
      .text-props(700, 14px, 17px, @background-dark);
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    &.active {
      color: @active-link;
    }

    &.underline {
      text-decoration: underline;
    }
  }
}

.table-container {
  max-width: 1280px;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  th {
    font-family: "Avenir Next Cyr Medium", sans-serif;
    .text-props(450, 14px, 115%, @text-regular-color);
    padding: 10px;
  }

  td {
    .text-props(400, 16px, 130%, @text-regular-color);
    padding: 10px;
  }

  tr {
    vertical-align: top;

    &:nth-child(2n) {
      background-color: @background-medium;
    }
  }

  button {
    font-family: "Avenir Next Cyr Medium", sans-serif;
    .text-props(450, 16px, 130%, @text-regular-color);
    background-color: transparent;

    &.small {
      .text-props(450, 14px, 115%, @text-regular-color);
    }
  }

  &.with-margin {
    margin: 55px auto 0 auto;
  }

  &.is-card-item {
    width: 530px;

    td {
      padding: 10px;
    }
  }

  &.first-column-bold {
    td:first-child {
      font-family: "Avenir Next Cyr Medium", sans-serif;
      .text-props(450, 16px, 130%, @text-regular-color);
    }
  }

  .cell-flex-col {
    .flex-column(start, center);

    &:nth-child(n) {
      margin-bottom: 5px;
    }

    span {
      .text-props(400, 14px, 115%, @text-regular-color);
    }
  }

  .cell-flex {
    .flex-default(start, center);
    gap: 5px;

    button {
      text-align: left;
      color: @background-dark;
    }

    span {
      text-align: left;
    }
  }

  &.divider-bottom {
    position: relative;
    .divider-bottom(-10px, 0);
  }

  &-header {
    th {
      padding: 5px;
    }

    background-color: @divider-color;

    &-child {
      background-color: @background-medium;
    }
  }

  &-child {
    table, th, td {
      width: 100%;
      text-align: left;
      border: 1px solid @divider-color;
      .text-props(400, 12px, 115%, @text-regular-color);
    }

    th:nth-child(3) {
      min-width: 100px;
    }
  }
}

&.choose-client-modal {
  tr {
    th {
      .text-props(_, 12px, 115%, @text-regular-color);

      &:nth-child(1) {
        width: 215px;
      }
    }

    td {
      .text-props(400, 14px, 115%, @text-regular-color);
      height: 60px;

      &:nth-child(1) {
        .text-props(450, 14px, 115%, @text-regular-color)
      }
    }

  }
}

.pagination-container {
  .flex-default(center, start);
  max-width: 1280px;
  margin: 35px auto 0 auto;
  padding-left: 10px;
  position: relative;
  .divider-bottom(130%, 0);

  span {
    font-weight: 450;
    font-size: 16px;
    line-height: 115%;
    color: @text-regular-color;
  }

  button {
    background-color: transparent;
    margin-right: 20px;
  }

  .current-page {
    width: 40px;
    height: 40px;
    background: #EEEFF4;
    border-radius: 100px;
  }
}

.input-with-btn {

  .flex-default(center, end);
  height: 100%;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
  background-color: white;
  position: relative;

  #from-date-about, #from-date-planned, #from-price-about,
  #to-date-about, #to-date-planned, #to-price-about,
  #client-about, #client-planned, #form-input-procurement-type,
  #changes-period {
    border: none;
    width: 100%;
    padding: 5px;
  }

  &.is-select {
    input {
      cursor: pointer;
    }
  }

  &.main-search {
    border: none;
    border-bottom: 1px solid #7C7F8D;
    width: 405px;
    height: 35px;

    justify-items: stretch;

    input {
      width: 100%;

      &::placeholder {
        .text-props(400, 16px, 130%, @text-regular-color)
      }
    }
  }

  button {
    background-color: transparent;
    margin-right: 10px;
  }

  &.calendar {
    margin-right: 10px;
  }

  &.client {
    width: 60%;
  }

  &.search {
    padding: 10px;
    .flex-default(center, start);

    img {
      margin-right: 10px;
    }
  }
}

.form-container {

  margin-top: 55px;
  padding: 25px;
  width: 690px;
  height: 100%;
  background: @background-light;

  &.contact {
    width: 820px;
  }

  button {
    .text-props(700, 14px, 17px, @background-dark);
    text-transform: uppercase;
    color: @background-dark;

    &.clear {
      color: grey;
    }
  }

  &-disclaimer {
    margin-top: 8px;
    .text-props(400, 12px, 115%, #4E536B);
  }

  &-header {
    .flex-default(center, space-between);

    &.divider {
      .divider-bottom(-20px, 0);
      position: relative;
      margin-bottom: 35px;
    }

    button {
      &.btn-clear {
        display: none;
      }

      background-color: transparent;
    }
  }

  &-body {

    display: none;

    &-message-sent {
      .flex-column(center, center);
      padding: 85px 0;
      gap: 15px;

      div {
        .text-props(450, 24px, 135%, @text-description-color);
      }
    }

    .item {
      .flex-default(center, space-between);
      .text-props(450, 16px, 130%, @text-regular-color);
      margin-bottom: 10px;
      position: relative;

      .input-with-btn {
        width: 60%;
      }

      input, select {
        height: 50px;
        width: 60%;
        padding: 5px;
        border: 1px solid #D6D8E0;
        border-radius: 2px;
      }

      textarea {
        height: 160px;
        width: 60%;
        padding: 5px;
        border: 1px solid #D6D8E0;
        border-radius: 2px;
      }

      a {
        margin-left: 10px;
        text-decoration: underline;
        text-align: left;
      }

      label {
        font-family: "Avenir Next Cyr Medium", sans-serif;
        .text-props(450, 16px, 130%, @text-regular-color);
        max-width: 35%;
        margin-right: 10px;

        &.full-width {
          max-width: 100%;
        }
      }

      &.align-top label {
        height: 160px;
        .flex-column(start, start);
      }

      &.input-container {
        width: 60%;
        .flex-default(center, space-between);
      }

      #changes-period {
        max-width: 80px;
        margin-right: 20px;
      }

      #plan-period, #public-period, #price-range {
        .flex-default(center, center);
        height: 100%;
        width: 50%;
        margin-right: 81px;
      }

      #from-price-about, #from-date-planned, #from-date-about {
        margin-right: 5px;
        background-size: 18px;
      }

      #to-price-about, #to-date-planned, #to-date-about {
        background-size: 18px;
      }

      #files {
        width: 60%;
        .flex-default(center, start);
        flex-wrap: wrap;
        gap: 5px;

        button {
          .flex-default(center, center);
          letter-spacing: 0.02em;
          border-radius: 100px;
          min-width: 170px;
          padding: 10px 16px;
        }

        span {
          text-transform: none;
          margin-right: 10px;
        }

        .upload-file {
          background-color: @divider-color;

          span {
            text-transform: uppercase;
          }
        }
      }

      #captcha {
        width: 50%;
      }

      &.flex {
        .flex-default(center, center);
        margin: 0;
        width: 60%;

        &:nth-child(2) {
          text-align: left;
        }
      }

      &.checkbox {
        .flex-default(center, start);
        margin-top: 20px;

        input {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
      }

      &.divider {
        .divider-bottom(-30px, 0);
      }

    }
  }

  &.submit-btn {
    .flex-default(center, center);
    margin-top: 45px;
    width: 150px;
    height: 50px;
    background: @background-dark;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
  }


}

.accordion {

  &-container {
    position: relative;

    ul {
      position: relative;

      &:last-child {
        .divider-bottom(0, 0)
      }
    }

    li {
      .flex-column(start, center);
      position: relative;
    }

    button {
      background-color: transparent;
    }


  }

  &-item {
    a {
      color: @background-dark;
    }

    p {
      font-weight: 400;
    }

    &.header {
      .text-props(450, 20px, 130%, @text-regular-color);
      .flex-default(center, start);
      position: relative;
      .divider-top(0, 0);
      width: 100%;
      padding: 15px 0;

      &.expanded {
        background-color: @background-light;
        .divider-bottom(0, 0);
      }
    }

    &.content {
      .text-props(400, 20px, 130%, @text-regular-color);
      .flex-default(start, start);
      margin-left: 34px;
      margin-top: 30px;
      padding-bottom: 35px;

    }

  }
}

.card {

  &.divider-top {
    li:first-child {
      position: relative;
      .divider-top(-10px, 0);
    }

    p {
      position: relative;
      .divider-bottom(-15px, 0);
    }
  }

  li {
    .flex-column(start, start);
    margin-bottom: 40px;
    position: relative;
    .divider-bottom(-20px, 0);
  }

  &-item {
    &.title {
      font-family: "Avenir Next Cyr Medium", sans-serif;
      .text-props(450, 20px, 130%, @text-regular-color);
      margin-bottom: 25px;

      &-bold {
        .text-props(750, 24px, 135%, @text-regular-color);
      }
    }

    &.info {
      .text-props(400, 20px, 130%, @text-description-color);

      &-container {
        .flex-column(start, center);
      }

      &-item {
        margin-bottom: 5px;

        span:nth-child(1) {
          .text-props(400, 16px, 130%, @text-description-color);
        }

        span:nth-child(2) {
          .text-props(400, 16px, 130%, @text-regular-color);
        }

        &.single {
          .text-props(400, 16px, 130%, @text-regular-color);
        }
      }
    }
  }
}

.tabs {
  width: 390px;
  position: relative;
  .divider-bottom(-10px, 0);
  .flex-default(center, space-between);
  margin-top: 60px;

  button {
    background-color: transparent;
    .text-props(700, 14px, 17px, @text-description-color);
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .active {
    position: relative;
    color: @text-regular-color;

    &:after {
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      left: 0;
      bottom: -10px;
      background: @background-dark;
    }
  }

  &-subtabs {
    margin-top: 25px;

    button {
      padding: 10px;
      background-color: transparent;
      .text-props(700, 14px, 17px, @text-description-color);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border-radius: 4px;
    }

    .active {
      background-color: #EEEFF4;
    }
  }
}

.info-block {

  .item {
    .flex-default(stretch, start);
    position: relative;
    .divider-bottom(0, 0);

    &:nth-child(2) {
      position: relative;
      .divider-top(0, 0);
    }

    span, div {
      padding: 13px;

      &:nth-child(1) {
        .text-props(550, 16px, 130%, @text-regular-color);
        background-color: @background-medium;
        width: 35%;
      }

      &:nth-child(2) {
        .text-props(400, 16px, 130%, @text-regular-color);
        width: 65%;
      }

      img {
        margin-right: 10px;
      }
    }

    &-title {
      font-family: "Avenir Next Cyr Medium", sans-serif;
      .text-props(450, 20px, 130%, @text-regular-color);
      margin-bottom: 25px;

      &-bold {
        .text-props(750, 24px, 135%, @text-regular-color);
        margin-bottom: 25px;
      }
    }
  }


  &.results-procurements {
    margin-top: 35px;
  }
}

.breadcrumbs {
  position: relative;
  .divider-top(-10px, 0);
  margin-top: 65px;

  span {
    cursor: pointer;
    background-color: transparent;
    .text-props(450, 20px, 130%, @background-dark);
    position: relative;
    margin-right: 25px;

    &:after {
      position: absolute;
      content: "/";
      .text-props(450, 20px, 130%, #C3C4CC);
      right: -20px;
    }

    &:last-child {
      .text-props(450, 20px, 130%, @text-regular-color);

      &:after {
        content: '';
      }
    }
  }
}


//experiments
//#nav-more {
//  position: relative;
//  .dropdown-options {
//    display: none;
//    position: absolute;
//    right: 100px;
//  }
//}
