.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container button {
  background-color: transparent;
}
.header-container .text-link {
  margin-right: 25px;
}
.header-nav-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-left-container #nav-more {
  margin: 0;
}
.header-nav-right-container {
  display: flex;
  justify-content: space-between;
}
.header-nav-right-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-right-item.divider {
  position: relative;
}
.header-nav-right-item.divider:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  right: -15px;
  background: #D5E2F7;
}
.header.icon {
  margin-right: 50px;
  width: 150px;
  height: 45px;
  position: relative;
}
.header.icon.divider:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  right: -25px;
  background: #D5E2F7;
}
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-container.with-background {
  padding: 33px 80px 18px 80px;
}
.footer-icon {
  height: auto;
}
.footer-icon:nth-child(1) {
  width: 205px;
}
.footer-icon:nth-child(2) {
  width: 155px;
}
.footer-icon:nth-child(3) {
  width: 285px;
}
.footer-icon.main {
  max-width: 195px;
}
.footer-row {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-row.divider {
  position: relative;
}
.footer-row.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.footer-row.no-background {
  background-color: #FFFFFF;
  padding: 16px 80px;
  justify-content: flex-start;
}
.footer-row:nth-child(3) {
  margin-top: 10px;
  padding: 0;
}
.phone-block-number {
  font-weight: 750;
  font-size: 24px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2C3148;
}
.phone-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copyright {
  margin-right: 32px;
  font-family: 'avantgardectt-bold', sans-serif;
  font-weight: 600;
  font-size-24: 14px;
  line-height: 130%;
  color: #7C7F8D;
}
.disclaimer {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #005D9F;
  text-decoration-line: underline;
}
.main-start p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.main-start a {
  text-decoration: underline;
}
.main-start button {
  display: inline;
  background-color: transparent;
}
.main-start-picture {
  margin: 65px auto 95px auto;
  width: 990px;
  height: 360px;
  overflow: visible;
}
.main-start-picture img {
  height: 100%;
  width: auto;
}
.main-start.background-section {
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 70.02%, rgba(0, 0, 0, 0.72) 100%), url('../images/content/main/main-background.png');
  background-size: cover;
  margin-bottom: 65px;
  margin-top: 0;
  position: relative;
}
.main-start.background-section-title-container {
  position: absolute;
  left: auto;
  bottom: 0;
}
.main-start.background-section-title-container h2 {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.main-start.background-section-title-container h1 {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 750 !important;
  font-size: 64px;
  line-height: 110%;
  color: white;
  margin-top: 15px;
}
.main-start.title-container h2 {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-bottom: 15px;
}
.main-start.title-container h1 {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 750 !important;
  font-size: 64px;
  line-height: 110%;
  color: white;
}
.main-choose-site-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: 760px;
  flex-wrap: wrap;
}
.main-choose-site-links li {
  margin-bottom: 20px;
  margin-right: 80px;
}
.main-choose-site.title-container {
  margin-bottom: 80px;
}
.main-slider button {
  background-color: transparent;
}
.main-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
  width: 100%;
  background: #F9F9FE;
  margin-bottom: 95px;
}
.main-slider.title-container {
  margin-top: 80px;
  margin-bottom: 55px;
}
.main-slider.picture-container {
  height: 80%;
  margin-bottom: 30px;
}
.main-slider.picture-container img {
  width: auto;
  height: 100%;
}
.main-slider.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider.action.counter {
  font-weight: 400;
  font-size-24: 14px;
  line-height: 115%;
  text-align: center;
  color: #2C3148;
  margin-left: 10px;
  margin-right: 10px;
}
.procurements-planned p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.procurements-planned.title-container h1 {
  margin-bottom: 25px;
}
.procurements-about p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.procurements-about.title-container {
  margin-bottom: 55px;
}
.procurements-about.title-container h1 {
  margin-bottom: 25px;
}
.procurements-about th:first-child {
  width: 135px;
}
.procurements-about td:nth-child(6) {
  min-width: 125px;
}
.agreements-main.title-container {
  margin-bottom: 55px;
}
.agreements-main td:nth-child(2) {
  min-width: 125px;
}
.agreements-main td:nth-child(1) {
  min-width: 200px;
}
.agreements-main td:nth-child(6) {
  min-width: 125px;
}
.agreements-main td:last-child {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #005D9F;
}
.agreements-linked-docs.title-container {
  margin: 70px auto;
}
.stats-default.title-container {
  margin-bottom: 65px;
}
.stats-default.link-list li {
  margin-bottom: 15px;
}
.stats-archive.title-container {
  margin-bottom: 70px;
}
.mtr-lot.title-container {
  margin: 70px auto;
}
.mtr-lot.info-block {
  margin-top: 30px;
  margin-bottom: 95px;
}
.mtr-main.table-container th:nth-child(2) {
  min-width: 130px;
}
.archive.title-container {
  margin-bottom: 25px;
  margin-top: 80px;
}
.archive.title-container p {
  margin-top: 25px;
}
.archive.link-list {
  margin-top: 40px;
  margin-bottom: 95px;
}
.archive.link-list li {
  margin-bottom: 10px;
}
.tt-projects p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.tt-projects.content-container {
  margin-bottom: 130px;
}
.tt-projects.title-container {
  margin-bottom: 70px;
  margin-top: 75px;
}
.results.title-container {
  margin-bottom: 70px;
}
.results.title-container p {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.results.text-title {
  margin-bottom: 25px;
}
.results.text-title.divider {
  position: relative;
}
.results.text-title.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -105px;
  background: #D5E2F7;
}
.results.table-container th:nth-child(6) {
  min-width: 130px;
}
.contacts.title-container {
  margin-bottom: 65px;
}
.contacts.picture-container {
  width: 40%;
}
.contacts.picture-container img {
  width: 100%;
  height: auto;
}
.contacts.content-container {
  margin-bottom: 95px;
}
.contact-form.title-container {
  margin-bottom: 40px;
  min-width: 1069px;
}
.contact-form.title-container h1 {
  font-weight: 750 !important;
  font-size: 48px;
  line-height: 110%;
  color: #005D9F;
  letter-spacing: -0.02em;
}
.contact-form article {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.contact-form article ul li {
  position: relative;
  margin-bottom: 5px;
}
.contact-form article ul li:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 1px;
  top: 12px;
  left: -20px;
  background-color: #005D9F;
}
.overlay-menu {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.overlay-menu-container {
  position: relative;
}
.overlay-menu.active {
  transition: opacity 1s;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 25px;
  width: 390px;
  height: 350px;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #EEEFF4;
  box-shadow: 0 8px 16px rgba(28, 72, 120, 0.12);
  z-index: 2;
}
.choose-client-modal-container {
  max-width: 835px;
  max-height: 550px;
  box-shadow: 0 8px 16px rgba(28, 72, 120, 0.12);
  border-radius: 4px;
  overflow-y: scroll;
}
.choose-client-modal.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 750;
  font-size: 14px;
  line-height: 115%;
  color: #FFFFFF;
  background-color: #005D9F;
}
.choose-client-modal.search {
  padding: 10px;
  width: 50%;
}
.choose-client-modal #search {
  width: 100%;
}
.choose-client-modal button {
  background-color: transparent;
}
.dropdown-options {
  width: 360px;
  height: 275px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown-options li {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  padding: 15px 0 15px 40px;
  position: relative;
}
.dropdown-options li.chosen:before {
  content: '';
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/components/img.png");
  background-size: 20px 20px;
}
.start-links {
  font-size: 20px;
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.start-links .box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
.start-links .box:first-child {
  margin-right: 150px;
}
.start-links .box ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 100px;
}
.start-links .box li {
  margin-bottom: 10px;
}
body {
  font-family: 'Avenir Next Cyr', sans-serif;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
header {
  height: 90px;
  padding: 24px 55px 28px 24px;
  position: relative;
}
header:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
footer {
  height: 360px;
  background-color: #EBF3FF;
}
main {
  height: 100%;
}
main section {
  margin-top: 80px;
  margin-bottom: 95px;
}
.btn {
  background-color: transparent;
}
.btn.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-list {
  width: 112px;
  height: 16px;
}
.btn-list img {
  height: 100%;
  width: auto;
}
.btn-download {
  width: 112px;
  height: 21px;
}
.btn-download img {
  height: 100%;
  width: auto;
}
.btn-o-zakupke {
  width: 112px;
  height: 16px;
  margin-top: 15px;
}
.btn-o-zakupke img {
  height: 100%;
  width: auto;
}
.btn-back {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
.btn.wrap {
  word-wrap: break-word;
  max-width: 100px;
}
.content-container {
  width: 990px;
  margin: 0 auto;
}
.icon img {
  height: 100%;
  width: auto;
}
.icon.size-16 {
  width: 16px;
  height: 16px;
}
.icon.size-20 {
  width: 20px;
  height: 20px;
}
.icon.size-24 {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.icon.size-36 {
  width: 36px;
  height: 36px;
}
.icon.size-72 {
  width: 72px;
  height: 72px;
}
.icon.captcha {
  width: 228px;
  height: 57px;
}
.icon.expand {
  margin-left: 10px;
  width: 12px;
  height: 6px;
}
.icon.footer-logo {
  width: 195px;
  height: auto;
}
.text-title {
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-weight: 750 !important;
  font-size: 64px;
  line-height: 110%;
  color: #005D9F;
  margin: 0;
}
.text-title.divider {
  position: relative;
}
.text-title.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -55px;
  background: #D5E2F7;
}
.text-subtitle {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  color: #005D9F;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.text-description {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #7C7F8D;
}
.text-link {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #005D9F;
}
.text-link.nav {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #005D9F;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.text-link.active {
  color: #F08400;
}
.text-link.underline {
  text-decoration: underline;
}
.table-container {
  max-width: 1280px;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.table-container th {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
  padding: 10px;
}
.table-container td {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  padding: 10px;
}
.table-container tr {
  vertical-align: top;
}
.table-container tr:nth-child(2n) {
  background-color: #EBF3FF;
}
.table-container button {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  background-color: transparent;
}
.table-container button.small {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.table-container.with-margin {
  margin: 55px auto 0 auto;
}
.table-container.is-card-item {
  width: 530px;
}
.table-container.is-card-item td {
  padding: 10px;
}
.table-container.first-column-bold td:first-child {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.table-container .cell-flex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.table-container .cell-flex-col:nth-child(n) {
  margin-bottom: 5px;
}
.table-container .cell-flex-col span {
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.table-container .cell-flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.table-container .cell-flex button {
  text-align: left;
  color: #005D9F;
}
.table-container .cell-flex span {
  text-align: left;
}
.table-container.divider-bottom {
  position: relative;
}
.table-container.divider-bottom:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background: #D5E2F7;
}
.table-container-header {
  background-color: #D5E2F7;
}
.table-container-header th {
  padding: 5px;
}
.table-container-header-child {
  background-color: #EBF3FF;
}
.table-container-child table,
.table-container-child th,
.table-container-child td {
  width: 100%;
  text-align: left;
  border: 1px solid #D5E2F7;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 115%;
  color: #2C3148;
}
.table-container-child th:nth-child(3) {
  min-width: 100px;
}
.choose-client-modal tr th {
  font-weight: _ !important;
  font-size: 12px;
  line-height: 115%;
  color: #2C3148;
}
.choose-client-modal tr th:nth-child(1) {
  width: 215px;
}
.choose-client-modal tr td {
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
  height: 60px;
}
.choose-client-modal tr td:nth-child(1) {
  font-weight: 450 !important;
  font-size: 14px;
  line-height: 115%;
  color: #2C3148;
}
.pagination-container {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1280px;
  margin: 35px auto 0 auto;
  padding-left: 10px;
  position: relative;
}
.pagination-container:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 130%;
  background: #D5E2F7;
}
.pagination-container span {
  font-weight: 450;
  font-size: 16px;
  line-height: 115%;
  color: #2C3148;
}
.pagination-container button {
  background-color: transparent;
  margin-right: 20px;
}
.pagination-container .current-page {
  width: 40px;
  height: 40px;
  background: #EEEFF4;
  border-radius: 100px;
}
.input-with-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
  background-color: white;
}
.input-with-btn #from-date-about,
.input-with-btn #from-date-planned,
.input-with-btn #from-price-about,
.input-with-btn #to-date-about,
.input-with-btn #to-date-planned,
.input-with-btn #to-price-about,
.input-with-btn #client-about,
.input-with-btn #client-planned {
  border: none;
  width: 100%;
  padding: 5px;
}
.input-with-btn button {
  background-color: transparent;
  margin-right: 10px;
}
.input-with-btn.calendar {
  margin-right: 10px;
}
.input-with-btn.client {
  width: 60%;
}
.input-with-btn.search {
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.input-with-btn.search img {
  margin-right: 10px;
}
.form-container {
  margin-top: 55px;
  padding: 25px;
  width: 690px;
  height: 100%;
  background: #F9F9FE;
}
.form-container.contact {
  width: 820px;
}
.form-container span {
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #005D9F;
}
.form-container span.clear {
  color: grey;
}
.form-container-disclaimer {
  margin-top: 8px;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 115%;
  color: #4E536B;
}
.form-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container-header.divider {
  position: relative;
  margin-bottom: 35px;
}
.form-container-header.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #D5E2F7;
}
.form-container-header button {
  background-color: transparent;
}
.form-container-body-message-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 85px 0;
  gap: 15px;
}
.form-container-body-message-sent div {
  font-weight: 450 !important;
  font-size: 24px;
  line-height: 135%;
  color: #7C7F8D;
}
.form-container-body .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  margin-bottom: 10px;
  position: relative;
}
.form-container-body .item input,
.form-container-body .item select {
  height: 50px;
  width: 60%;
  padding: 5px;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
}
.form-container-body .item textarea {
  height: 160px;
  width: 60%;
  padding: 5px;
  border: 1px solid #D6D8E0;
  border-radius: 2px;
}
.form-container-body .item a {
  text-decoration: underline;
  text-align: left;
}
.form-container-body .item label {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  max-width: 35%;
  margin-right: 10px;
}
.form-container-body .item label.full-width {
  max-width: 100%;
}
.form-container-body .item.align-top label {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.form-container-body .item.input-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container-body .item #changes-period {
  max-width: 80px;
  margin-right: 20px;
}
.form-container-body .item #plan-period,
.form-container-body .item #public-period,
.form-container-body .item #price-range {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-right: 81px;
}
.form-container-body .item #from-price-about,
.form-container-body .item #from-date-planned,
.form-container-body .item #from-date-about {
  margin-right: 5px;
  background-size: 18px;
}
.form-container-body .item #to-price-about,
.form-container-body .item #to-date-planned,
.form-container-body .item #to-date-about {
  background-size: 18px;
}
.form-container-body .item #files {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.form-container-body .item #files button {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  border-radius: 100px;
  min-width: 170px;
  padding: 10px 16px;
}
.form-container-body .item #files span {
  text-transform: none;
  margin-right: 10px;
}
.form-container-body .item #files .upload-file {
  background-color: #D5E2F7;
}
.form-container-body .item #files .upload-file span {
  text-transform: uppercase;
}
.form-container-body .item #captcha {
  width: 50%;
}
.form-container-body .item.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 60%;
}
.form-container-body .item.flex:nth-child(2) {
  text-align: left;
}
.form-container-body .item.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.form-container-body .item.checkbox input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.form-container-body .item.divider:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -30px;
  background: #D5E2F7;
}
.form-container.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 150px;
  height: 50px;
  background: #005D9F;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.accordion-container {
  position: relative;
}
.accordion-container ul {
  position: relative;
}
.accordion-container ul:last-child:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.accordion-container li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.accordion-container button {
  background-color: transparent;
}
.accordion-item a {
  color: #005D9F;
}
.accordion-item p {
  font-weight: 400;
}
.accordion-item.header {
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 15px 0;
}
.accordion-item.header:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
  background: #D5E2F7;
}
.accordion-item.header.expanded {
  background-color: #F9F9FE;
}
.accordion-item.header.expanded:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.accordion-item.content {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 34px;
  margin-top: 30px;
  padding-bottom: 35px;
}
.card.divider-top li:first-child {
  position: relative;
}
.card.divider-top li:first-child:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: -10px;
  background: #D5E2F7;
}
.card.divider-top p {
  position: relative;
}
.card.divider-top p:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -15px;
  background: #D5E2F7;
}
.card li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 40px;
  position: relative;
}
.card li:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #D5E2F7;
}
.card-item.title {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  margin-bottom: 25px;
}
.card-item.title-bold {
  font-weight: 750 !important;
  font-size: 24px;
  line-height: 135%;
  color: #2C3148;
}
.card-item.info {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 130%;
  color: #7C7F8D;
}
.card-item.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.card-item.info-item {
  margin-bottom: 5px;
}
.card-item.info-item span:nth-child(1) {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #7C7F8D;
}
.card-item.info-item span:nth-child(2) {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.card-item.info-item.single {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
}
.tabs {
  width: 390px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.tabs:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background: #D5E2F7;
}
.tabs button {
  background-color: transparent;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #7C7F8D;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.tabs .active {
  position: relative;
  color: #2C3148;
}
.tabs .active:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background: #005D9F;
}
.tabs-subtabs {
  margin-top: 25px;
}
.tabs-subtabs button {
  padding: 10px;
  background-color: transparent;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  color: #7C7F8D;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 4px;
}
.tabs-subtabs .active {
  background-color: #EEEFF4;
}
.info-block .item {
  display: flex;
  justify-content: start;
  align-items: stretch;
  position: relative;
}
.info-block .item:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #D5E2F7;
}
.info-block .item:nth-child(2) {
  position: relative;
}
.info-block .item:nth-child(2):before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
  background: #D5E2F7;
}
.info-block .item span,
.info-block .item div {
  padding: 13px;
}
.info-block .item span:nth-child(1),
.info-block .item div:nth-child(1) {
  font-weight: 550 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  background-color: #EBF3FF;
  width: 35%;
}
.info-block .item span:nth-child(2),
.info-block .item div:nth-child(2) {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 130%;
  color: #2C3148;
  width: 65%;
}
.info-block .item span img,
.info-block .item div img {
  margin-right: 10px;
}
.info-block .item-title {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
  margin-bottom: 25px;
}
.info-block .item-title-bold {
  font-weight: 750 !important;
  font-size: 24px;
  line-height: 135%;
  color: #2C3148;
  margin-bottom: 25px;
}
.info-block.results-procurements {
  margin-top: 35px;
}
.breadcrumbs {
  position: relative;
  margin-top: 65px;
}
.breadcrumbs:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: -10px;
  background: #D5E2F7;
}
.breadcrumbs span {
  cursor: pointer;
  background-color: transparent;
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #005D9F;
  position: relative;
  margin-right: 25px;
}
.breadcrumbs span:after {
  position: absolute;
  content: "/";
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #C3C4CC;
  right: -20px;
}
.breadcrumbs span:last-child {
  font-weight: 450 !important;
  font-size: 20px;
  line-height: 130%;
  color: #2C3148;
}
.breadcrumbs span:last-child:after {
  content: '';
}
