<!DOCTYPE html>
<html lang="ru">
<head>
    <title>calendar</title>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8">

    <!--    Custom links-->
    <link rel="stylesheet" type="text/css" href="../../less/styles.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/normalize.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/nullstyle.css"/>
    <link rel="stylesheet" href="../../jquery-ui-1.13.2.custom/jquery-ui.css">


    <!--    Fonts-->
    <link href="https://fonts.cdnfonts.com/css/avenir-next-cyr" rel="stylesheet">

    <script type="application/javascript" src="../../jquery-ui-1.13.2.custom/external/jquery/jquery.js"></script>
    <script type="application/javascript" src="../../jquery-ui-1.13.2.custom/jquery-ui.js"></script>
    <script type="application/javascript" src="../../script.js"></script>

</head>
</html>

<body>
<!--<div id="datepicker"></div>-->
</div>
</body>
