<!DOCTYPE html>
<html lang="ru">
<head>
    <title>choose-client-modal</title>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8">

    <!--    Custom links-->
    <link rel="stylesheet" type="text/css" href="../../less/styles.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/normalize.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/nullstyle.css"/>

    <!--    Fonts-->
    <link href="https://fonts.cdnfonts.com/css/avenir-next-cyr" rel="stylesheet">
</head>
</html>

<body>
<div class="choose-client-modal-container">
    <div class="choose-client-modal">
        <div class="choose-client-modal header-title">
            Выберите заказчика
        </div>
        <button class="icon size-24">
            <img src="../../images/components/close.png"/>
        </button>
    </div>
    <div class="choose-client-modal search">
        <div class="input-with-btn search">
            <div class="icon size-16">
                <img src="../../images/components/search.png" alt="">
            </div>
            <input id="search" placeholder="Поик">
        </div>
    </div>
    <div class="table-container choose-client-modal">
        <table>
            <thead class="table-container-header">
            <tr>
                <th>Полное наименование</th>
                <th>Краткое наименование</th>
                <th>ИНН</th>
                <th>КПП</th>
                <th>ОГРН</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            <tr>
                <td>Ационерное общество “Богучанская ГЭС”</td>
                <td>АО “Богучанская ГЭС”</td>
                <td>2420002597</td>
                <td>242001001</td>
                <td>1022400828119</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
