<!DOCTYPE html>
<html lang="ru">
<head>
    <title>dropdown-options</title>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8">

    <!--    Custom links-->
    <link rel="stylesheet" type="text/css" href="../../less/styles.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/normalize.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/nullstyle.css"/>

    <!--    Fonts-->
    <link href="https://fonts.cdnfonts.com/css/avenir-next-cyr" rel="stylesheet">
</head>
</html>

<body>
<div class="dropdown-options">
    <ul>
        <li>
            <span>Выбранный вариант</span>
        </li>
        <li class="chosen">
            <span>Выбранный вариант</span>
        </li>
        <li>
            <span>Выбранный вариант</span>
        </li>
        <li>
            <span>Выбранный вариант</span>
        </li>
        <li>
            <span>Выбранный вариант</span>
        </li>
        <li>
            <span>Выбранный вариант</span>
        </li>
        <li>
            <span>Выбранный вариант</span>
        </li>
    </ul>
</div>

</body>
