<!DOCTYPE html>
<html lang="ru">
<head>
    <title>overlay-menu</title>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8">

    <!--    Custom links-->
    <base href="../../">
    <link rel="stylesheet" type="text/css" href="less/styles.css"/>
    <link rel="stylesheet" href="less/initial-styles/normalize.css"/>
    <link rel="stylesheet" href="less/initial-styles/nullstyle.css"/>

    <!--    Fonts-->
    <link href="https://fonts.cdnfonts.com/css/avenir-next-cyr" rel="stylesheet">
</head>
</html>

<body>
<ul class="overlay-menu-container">
    <li class="text-link nav">
        <a href="">Управление закупочной деятельностью</a>
    </li>
    <li class="text-link nav">
        <a href="">Сотрудничество с смсп</a>
    </li>
    <li class="text-link nav">
        <a href="">Результаты закупок</a>
    </li>
    <li class="text-link nav">
        <a href="">Обсуждение проектов ТТ</a>
    </li>
    <li class="text-link nav">
        <a href="">Статистика</a>
    </li>
    <li class="text-link nav">
        <a href="">Продажи МТP</a>
    </li>
    <li class="text-link nav">
        <a href="">Архив</a>
    </li>
    <li class="text-link nav">
        <a href="">Контакты</a>
    </li>
</ul>

</body>
