<!DOCTYPE html>
<html lang="ru">
<head>
    <title>overlay-menu</title>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8">

    <!--    Custom links-->
    <link rel="stylesheet" type="text/css" href="../../less/styles.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/normalize.css"/>
    <link rel="stylesheet" href="../../less/initial-styles/nullstyle.css"/>

    <!--    Fonts-->
    <link href="https://fonts.cdnfonts.com/css/avenir-next-cyr" rel="stylesheet">
</head>
</html>

<body>
<div class="input-with-btn main-search">
    <button class="icon size-24">
        <img src="/images/header/search.png" alt="">
    </button>
    <input id="main-search-input" placeholder="Поисковый запрос"/>
    <button class="icon size-24">
        <img src="/images/content/icons/clear.png" alt="">
    </button>
</div>
</body>
